.entete {
  border: solid;
  border-color: black;
  padding: 5px 50px;
  margin-top: 20px;
  font-size: 2rem;
}
.container {
  border: solid;
  border-color: brown;
}
.piedpage {
  border: solid;
  border-color: red;
  display: flex;
  justify-content: space-around;
}
.deuxieme {
  border: solid;
  border-color: darkblue;
}

.ent1 p {
  display: inline;
  padding: 5px 50px 50px 50px;
  font-size: 1rem;
  justify-content: center;
}
.deuxieme {
  display: flex;
}
.premiere {
  display: flex;
  justify-content: space-around;
}
.premiere vid {
  justify-content: end;
}
.formulaire {
  border: solid;
  border-color: black;
}
.cnx {
  border: solid;
  border-color: brown;
}
